name : Testing-Workflow

on :
  # push : 
  #   branches : ["master"]
  
  workflow_dispatch:
    inputs : 
      num1 :
        description: "Enter a decimal no.: "
        type: environment
        required: true

      num2 :
        description: "Enter a binary no.: "
        type: environment
        required: true

env :
  d: ${{github.event.inputs.num1}}
  b: ${{github.event.inputs.num2}}
  
jobs : 
  job1 : 
    runs-on : ubuntu-latest

    steps:
      - uses: actions/checkout@v3 
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name : Run first job     
        run: python first.py $d

  job2 :
    runs-on : ubuntu-latest

    steps:
      - uses: actions/checkout@v3 
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name : Run second job
        run : python second.py $b

