name : Testing-Workflow

on :
  # push : 
  #   branches : ["master"]
  
  workflow_dispatch:
    inputs : 
      num1 :
        description: "Enter first no.: "
        required: true
        # type : number

      num2 :
        description: "Enter second no.: "
        required: true
        # type : number

env :
  # msg : I am bhvik jain
  a: ${{github.event.inputs.num1}}
  b: ${{github.event.inputs.num2}}
  
jobs : 
  job1 : 
    runs-on : ubuntu-latest

    steps:
      - uses: actions/checkout@v3 
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name : Run first job     
        run: |
         python first.py $a
         python second.py $a $b

  # job2 :
  #   runs-on : ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v3 
  #     - uses: actions/setup-python@v4
  #       with:
  #         python-version: '3.10'

  #     - name : Run second job
  #       run : python second.py $b

